<ion-view title="Finalizar Compras" id="page4" style="background-color:#FCFCFC;">
  <ion-content padding="true" class="has-header">
    <form id="finalizarCompras-form2" class="list">
      <label class="item item-select" id="finalizarCompras-select1" name="Pagamento">
        <span class="input-label">Opção de Pagamento</span>
        <select>
          <option>Cartão</option>
          <option>Dinheiro</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label class="item item-input" id="finalizarCompras-input2">
        <input type="text" placeholder="Endereço">
      </label>
      <div class="spacer" style="height: 17px;"></div>
      <label class="item item-input" id="finalizarCompras-input3">
        <input type="text" placeholder="Troco">
      </label>
      <div class="spacer" style="height: 17px;"></div>
      <label class="item item-input" id="finalizarCompras-input4">
        <input type="text" placeholder="Login">
      </label>
      <div class="spacer" style="height: 17px;"></div>
      <label class="item item-input" id="finalizarCompras-input5">
        <input type="text" placeholder="Senha">
      </label>
    </form>
    <button id="finalizarCompras-button1" class="button button-balanced  button-block">Login - Finalizar</button>
  </ion-content>
</ion-view>